.paletteview {
  height: 100vh;
  overflow: hidden;
}
.colors-container {
  height: 90%;
}
.palette-footer {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.palette-footer h6 {
  margin: 0;
  font-size: 1rem;
}
.palette-emoji {
  margin: 0 1rem;
  font-size: 1.5rem;
}
