.colorbox {
  height: 25%;
  width: 20%;
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  align-items: flex-end;
}
.copy-button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
  opacity: 0;
  transition: 0.5s opacity cubic-bezier(0.19, 1, 0.22, 1);
}

.colorbox:hover .copy-button {
  opacity: 1;
}

.color-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 0 0.5em;
  align-items: center;
}
.see-more {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
  padding: 0.25em 0.5em;
}
